.container {
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.card {
    width: 300px;
    height: 254px;
    background: transparent;
    padding: 2rem 1.5rem;
    border-radius: 10px;
    border: 1px solid #e7e7e7;
    transition: box-shadow .3s ease, transform .2s ease;
    margin-top: 2rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease, opacity .2s ease;
}

/*Image*/
.card-avatar {
    border-radius: 50%;
    height: 75px;
    margin-top: 1rem;
}


/*Card footer*/
.card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform .2s ease, opacity .2s ease;
}

.card-social__item {
    list-style: none;
}

.card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #b5babc;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
}

/*Text*/
.card-title {
    color: #E7E7E7;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 2rem;
}

.card-subtitle {
    color: #859ba8;
    font-size: 0.8em;
}

/*Hover*/
.card:hover {
    box-shadow: 0 5px 25px #6CC644;
}

.card:hover .card-info {
    transform: translateY(-5%);
}

.card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
}

.card-social__item svg:hover {
    fill: #6CC644;
    transform: scale(1.1);
}

.card-avatar:hover {
    border: 2px solid #859ba8;
}