.container {
    display: flex;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

.logo {
    border-radius: 50%;
    height: 125px;
    margin-top: 5rem;
    margin-left: 30rem;
}

#hover-rotate {
    min-width: 240px;
    max-width: 320px;
    width: 100%;
}

#hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
}

#hover-rotate:hover img {
    transform: scale(1.2) rotate(5deg);
}