.card1 {
    width: 25rem;
    height: 26rem;
    transition: all 0.2s;
    position: fixed;
    top: 9rem;
    right: 7rem;
    cursor: pointer;
}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

.card1:hover {
    transform: scale(1.04);
}

.circle {
    width: 150px;
    height: 150px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -50px;
    left: -50px;
}

.circle:nth-child(2) {
    bottom: -50px;
    right: -50px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}

p {
    background-color: transparent;
    color: #E7E7E7;
}

.nav-link {
    background-color: transparent;
}

.nav-link2 {
    background-color: transparent;
}

.nav-link:hover {
    color: #6CC644;
}

.overlay {
    background-color: transparent;
    color: inherit;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
    background: transparent;
}

.form__field {
    font-family: inherit;
    width: 21rem;
    border: none;
    border-bottom: 1px solid #E7E7E7;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

form {
    background-color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
    background: transparent;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 300;
    outline: none;
    border-bottom: 1px solid #E7E7E7;
    outline: 0;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #6CC644;
    font-weight: 200;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}

.form {
    background: transparent;
}

.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #6CC644;
    transition: all 0.2s ease;
}

.button:active {
    transform: scale(0.96);
}

.button:before,
.button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}

.button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, transparent 20%, #6CC644 20%, transparent 30%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #6CC644 15%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
        10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
    0% {
        background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
            40% 90%, 55% 90%, 70% 90%;
    }

    50% {
        background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
            50% 50%, 65% 20%, 90% 30%;
    }

    100% {
        background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
            50% 40%, 65% 10%, 90% 20%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

.button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, transparent 10%, #6CC644 15%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%),
        radial-gradient(circle, #6CC644 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
    0% {
        background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
            70% -10%, 70% 0%;
    }

    50% {
        background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
            105% 0%;
    }

    100% {
        background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
            110% 10%;
        background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}